<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img src="images/pexels-photo-1853951.jpeg" class="background">
<div class="status">
    <div class="time">
        <div class="time-background"></div>
        <img src="images/clock.png" class="clock">
        <!-- <img src="images/clock/bezel copy.svg" class="bezel">
        <img src="images/clock/button copy.svg" class="button">
        <img src="images/clock/needle copy.svg" class="needle"> -->
    </div>
    <div class="note">
        <img src="images/note.png" id="note">
        <div id="menu">
            <div>
              <span>Note</span>
              <p class="arrow_box">Things to do</p>
            </div>
        </div>    
    </div>
    <div class="bag">
        <img src="images/bag.png" id="bag">
        <div id="menu">
            <div>
              <span>Bag</span>
              <p class="arrow_box">Inventory</p>
            </div>
        </div>  
    </div>
</div>
<div class="blood">
    <img src="images/blood.png" class="one">
    <img src="images/blood-2.png" class="two">
</div>
<div class="bed">
    <img src="images/pillow.png" class="pillow">
    <img src="images/bear.png" class="bear">
</div>
    <img src="images/Empty-Glass-Bottle-5ml_450x450@2x.webp" class="bottle">
    <img src="images/tool.png" class="tool">
</body>
</html>