<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img src="images/pexels-photo-1853951.jpeg" class="background">
    <div class="intro">
    <p>
        You wake up in a strange room you've never seen with a shattering headache.
    </p>
    <p>
        The last thing you remember was having fun with your friends last night. You felt panic after accidentally drinking a drink someone gave you. You quickly figure out the situation. It looks like someone's apartment living room. However, broken furniture and bloodstains on the wall suggest that something bad has happened in the house. Then, somewhere, an audio file is played:<br>
    </p>
    <p>
        "Hello, friend. I am “X."" I am a serial killer, as society calls it. I have committed a new murder this time, and as always, I need someone to lay the blame on for my crimes. I have no personal feelings for you. You're just out of luck this time. The police arrive in another hour, and you'll probably rot in jail for the rest of your life. You don't have a choice. This message will be automatically destroyed after 5 seconds.”
    </p>
    <p>   
        You are given 60 minutes. Will you be able to find evidence to prove your innocence and escape?
    </p>
    </div>
    <button type="button" class="navyBtn" onclick="location.href='game.html'">Escape</button>
</body>
</html>