body {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.intro {
    color: white;
    position: fixed;
    width: 450px;
    font-size: 16px;
    line-height: 25px;
    left: 12%;
    top: 22%;
    background-color: black;
    padding: 1%;
}

.navyBtn {
    position: fixed;
    width: 200px;
    height: 100px;
    font-size: 30px;
    left: 45%;
    top: 45%;
}

.status {
    width: 500px;
    position: fixed;
    top: 5%;
    left: 1.5%;
    display: flex;
    flex-direction: column;
}

.time {
    position: relative;
    width: 90px;
    height: 100px;
    cursor: pointer;
}

/* .time-background {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 50%;
    bottom: 0;
    top: auto;
    left: 50%;
    transform: translate(-50%); 
    transition: background-color 0.25s;
} */

.time>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#note {
    position: relative;
    height: 90px;
    cursor: pointer;
    padding-left: 2%;
    padding-top: 5%;
}

#menu {
    width: 50px;
    background: #f3f3f3;
    border: 1px solid #d8d8d8;
    text-align: center;
    margin-left: 3%;
    margin-top: 2%;
}

#menu div {
    position: relative;
    display: inline-block;
}

.arrow_box {
    display: none;
    position: absolute;
    width: 200px;
    height: 400px;
    padding: 8px;
    margin-left: 100px;
    top: -120px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
}

span:hover + p.arrow_box {
    display: block;
}

#bag {
    position: relative;
    height: 90px;
    cursor: pointer;
    left: -1%;
    padding-top: 4%;
}

.blood {
    position: fixed;
    top: 50%;
    left: 30%;
}

.one {
    position: relative;
    width: 200px;
    left: 70%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    filter: brightness(30%);
    opacity: 0.85;
}

.two {
    position: relative;
    width: 150px;
    left: 40%;
    top: 35%;
    filter: brightness(30%);
    transform: translateX(-40%)translateY(-35%);
}

.bottle {
    position: fixed;
    width: 120px;
    rotate: 110deg;
    left: 75%;
    top: 80%;
    filter: brightness(60%);
}

.bottle:hover {
    position: fixed;
    width: 120px;
    rotate: 110deg;
    left: 75%;
    top: 80%;
    filter: brightness(100%);
}

.bed {
    position: relative;
    width: 800px;
    left: 70%;
    top: 55%;
    transform: translateX(-50%);
    display: flex;
}

.pillow {
    position: fixed;
    width: 350px;
    filter: brightness(55%);
}

.pillow:hover {
    position: fixed;
    width: 350px;
    filter: brightness(90%);
}

.bear {
    position: fixed;
    width: 350px;
    left: 57%;
    filter: brightness(50%);
}

.bear:hover {
    position: fixed;
    width: 350px;
    left: 57%;
    filter: brightness(90%);
}

.tool {
    position: fixed;
    width: 300px;
    left: 15%;
    top: 85%;
    filter: brightness(40%);
}

.tool:hover {
    position: fixed;
    width: 300px;
    left: 15%;
    top: 85%;
    filter: brightness(90%);
}
