body { 
    max-width: 360px;
    margin: auto; 
}

pre {
    display: none;
}

.featured-story {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    display: block;
}

li {
    list-style: none;
}

h1 a {
    text-decoration-line: none;
    color: black;
}

h1 a:hover {
    color: blue;
}

.story-date {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: 0.9em;
}

h1 {
    margin-bottom: 0.3em;
}

.story-image {
    margin: 0;
}

.story-source {
    text-decoration: underline;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.story-content {
    font-family: Arial, Helvetica, sans-serif;
}

.story-list article > :first-child {
    margin-top: 0;
}

.story-list article > :last-child {
    margin-bottom: 0;
}

article {
    padding: 10%;
}

.story-list .story-content {
    display: none;
}