body {
    background-color: #ccc;
}

.stopwatch {
    position: relative;
    width: 300px;
    height: 300px;
    top: 50px;
    right: 50px;
    cursor: pointer;

}

.stopwatch:active .stopwatch-background{
    background-color: yellow;
}

.stopwatch:active .stopwatch-button {
    transform: translateY(5%);
}

.stopwatch > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.stopwatch-background {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 50%;
    bottom: 0;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    transform: background-color 0.2s;
}

.stopwatch-needle {
    transform-origin: 50%, 60%;
}

.stopwatch.running .stopwatch-needle {
    animation: needle-rotate 10s linear infinite;
}

.stopwatch.danger .stopwatch-background {
    background-color: red;
}

.rotated {
    transform: rotate(45deg)
}

@keyframes needle-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}